{% extends 'base.html.twig' %}

{% block title %}Ajouter un fichier{% endblock %}

{% block body %}
<div class="jumbotron text-center">
 
    <h1>Ajout de fichiers</h1>
    <p> Plateforme de téléchargement collaborative</p>
</div>

 <div class="form-row">
    <div class="form-group col-md-6">
    
    {{ form_start(form) }}

    {{ form_row(formadd) }}

    {{ form_row(form.brochure) }}

<button type="submit" class="btn btn-primary">Envoyer</button>

{{ form_end(form) }}

        </div>
        
</div>
{% endblock %}
