{% extends 'base.html.twig' %}

{% block title %} Editer annonce{% endblock %}

{% block body %}
<div class="row">
        <div class="container mt-2">
            <table class="table table-striped">
    {{ form(file_form) }}
            </table>
        </div>
</div>
{% endblock %}
