{% extends 'base.html.twig' %}


{% block body %}
<div class="jumbotron text-center">
 
    <h1>Acceuil</h1>
    <p> Plateforme de téléchargement collaborative</p>
</div>


 <div class="row">
        <div class="container mt-2">
            <table class="table table-striped">
            <h2> Fichiers disponibles </h2>
            {% for file in files %}
            </br>
            <tr>
            <td> {{file.name}} </td>
            <td> {{file.description}} </td>
            {# <td> {{ file.upload_date|date("m/d/Y") }} </td> #}
            </td>
            <td><a href="{{ asset('uploads/brochures/' ~ file.brochureFilename) }}">View brochure (PDF)</a></td>
           <td> <a class= 'supp' href="{{ path('files_delete',{'id' : file.id}) }}">Supprimer</a></td>
          <td> <a class= 'edit' href="{{ path('files_edit',{'id' : file.id}) }}">Éditer</a></td>
            </tr>
            {% endfor %}
                
            </div>
        </div>
    </table>

{% endblock %}
