{% extends 'base.html.twig' %}

{% block Acceuil %}Acceuil{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Acceuil</h1>
    <p> Plateforme de téléchargement collaborative</p>
</div>

 <div class="row">
        <div class="container mt-2">
            <table class="table table-striped">
            <h2> Fichiers disponibles </h2>
            <tr>
            <td> {{file.name}} </td>
            <td> {{file.description}} </td>
            <td><a href="{{ asset('uploads/brochures/' ~ file.brochureFilename) }}">View brochure (PDF)</a></td>
            </tr>
            <a class= 'edit' href="{{ path('files_edit',{'id' : file.id}) }}">Éditer</a>
            <a class= 'supp' href="{{ path('files_delete',{'id' : file.id}) }}">Supprimer</a>


            </div>
        </div>
    </table>

{% endblock %}
